.ipr
*.iws
*.iml
*/.DS_Store
.idea
*.settings
*.classpath
*.project
**/bin
**/out
**/target
atlassian-ide-plugin.xml
**/build
**/.gradle
**/.gradletasknamecache
pom.xml
sample/**/gradle
sample/**/gradlew
sample/**/gradlew.bat
