sudo: required
dist: trusty
language: java
jdk:
  - oraclejdk8
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
os:
  - linux
  - osx
matrix:
  allow_failures:
    - os: osx
